<div class="switch-theme hover">
  <input type="checkbox" name="theme-toggler" id="theme-toggler" {{#ifEq user.theme "light"}}checked{{/ifEq}}>
  <label for="theme-toggler" title="Toggle theme"></label>
</div>