<ul class="profile-actions-list">
  <li class="{{#ifEq activeNav "view"}}active{{/ifEq}}"><a href="/profile/{{user.id}}">View profile</a></li>
  <li class="{{#ifEq activeNav "edit"}}active{{/ifEq}}"><a href="/profile/{{user.id}}/edit">Edit profile</a></li>
  <li class="{{#ifEq activeNav "password"}}active{{/ifEq}}"><a href="/profile/{{user.id}}/password">Change password</a></li>
</ul>